h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#header {
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

#logo-wrapper {
    display: block;
    width: 150px;
    height: 60px;
    padding: 0;
    float: left;
    background-repeat: no-repeat;
    background-size: 92%;
    background-image: url(commonapplogo.jpeg);

}

#donate-link {
    float: right;
    height: 60px;
    line-height: 45px;
    font-size: 16px;
    font-size: 1rem;
}

.active {
    width: 100px;
    display: inline-block;
    background: #97C047;
    height: 60px;
    padding: 5px 20px;
    color: #fff;
    font-family: "Libre Baskerville", Georgia, serif;

}

a:hover {
    text-decoration: none;
    color: white;
    background: #6f9100;

}

#intro {
    height: 700px;
    background: #f3f2ee;
    padding: 110px 0 250px;
    text-align: center;
}

.main-quote-box {
    color: #fff;
    border: 3px solid #97C047;
    max-width: 850px;
    margin: auto;
    text-align: center;
    padding: 60px 20px;
    color: #1f1f1f;
}


.icon {
    padding: 40px;
    padding-top: 70px;
}

#inform {
    height: 700px;
    padding: 110px 0 250px;

}

.main-inform-box {
    background: #f3f2ee;
    max-width: 850px;
    margin: auto;
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 0;
    color: #1c1c1c;
}

.circle-button {
    height: 45px;
    width: 45px;
    display: inline-block;
    border-radius: 50%;
    background: #97C047;
    line-height: 45px;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 335px;
    left: 0;
    right: 0;
}

#demo {
    height: 700px;
    background: #f3f2ee;
    padding: 110px 0 250px;
    text-align: center;
}

#testimonials {
    height: 700px;
    padding: 110px 0 250px;
    text-align: center;
}

.testimonial-box {
    background: #f3f2ee;
    max-width: 600px;
    padding: 100px 50px;
    color: #1c1c1c;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.testImg {
    box-shadow: 10px 10px 5px grey;

}

#test-pic-1 {
    height: 400px;
    width: 400px;
    margin-right: 100px;
    background-image: url(TestImg1.jpg)
}